<div class="project-stub">
  <div class="project-thumbnail" tabindex="0">
    <img src="{{ project.image_set.[0] }}" alt="{{ project.name }}" loading="lazy" />
  </div>
  <div class="details">
    <h3 class="name">{{ project.name }}</h3>
    <p>{{ project.company }}</p>
    <p>
      <time>
        {{ project.start_date }}
        {{#if project.end_date}}
         - {{ project.end_date }}
        {{/if}}
      </time>
    </p>
    <p>{{ project.description }}</p>
    <ul>
      {{#each project.notes}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
  </div>
  {{> ./tag-list tags=project.tags }}
  <footer class="links">
    {{#each project.links}}
    <a class="tag" title="{{ title }}" target="_blank" href="{{ url }}" rel="noopener noreferrer">
      <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i> {{ title }}
    </a>
    {{/each}}
  </footer>
</div>
